

.starting-page {
    /* height: 100%; */
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
    font-size: 25px;
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
    /* justify-content: center; */
  }
  
  .starting-topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .starting-bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .starting-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* hr {
    margin: auto;
    width: 40%;
  } */